.log-sign-main{
    height: 100%;
}
.test{
    
    height: 100vh;
    z-index: -2;

}

.log-sign-form{
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: min(80vw,30rem);
    height: 27rem;


}
.the-submit{
    z-index: 1;
}