
.Signup{
    background-color: blueviolet;
}
.nav-profile{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    margin-left: auto;
    align-items: center;
    img{
        height: 2rem;
        width: 2rem;
        border-radius:100px;
        margin-left: 1rem;
    }
}
.logo{
    height: 2rem;
    width: 2rem;
    border-radius:100px;
    margin-left: 1rem;
}