@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.nav-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  position:sticky;
  top:0;
  z-index: 999;
}
nav {
  background-color: rgba(9, 179, 37, 0.38); /* Set background color */
  padding: 10px; /* Add padding for better spacing */
  color: white; /* Set text color */
  width: 95%; /* Ensure navbar takes full width */
  border-radius: 40px;
  place-items: center;
}
  

nav select {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px; /* Add margin between h1 and select */
    color: white; /* Set text color for select */
    border-radius: 5px;
  }
  
 nav ul {
    display: flex;
    justify-content: space-between;
  }
  
nav ul li {
    margin-right: 10px;
  }
  
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add smooth transition effect */
  }
  
nav ul li a:hover {
    background-color: #555; /* Change background color on hover */
  }