.dropzone {
    border: 1px dashed #0087F7;
    border-radius: 5px;
    background: #EBD90C;
    width: 40%; /* Adjust the width as needed */
    height: 50%; /* Adjust the height as needed */
    margin: auto; /* Center the dropzone */
   }
  